:root {
  --primary: #e7461a;
  --primary-light: #fff;
  --primary-dark: #1b1c22;
}

$theme-colors: (
  "primary": #e7461a,
  "success": #198754,
  "danger": #dc3545,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";